node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml
.git
.gitignore
Dockerfile
dist
.env
.env.*
.eslintrc.js
.eslintrc.cjs
.eslintrc.json
.eslintrc
.vscode
**/*.md
**/*.log
**/*.test.*
**/__tests__
k8s/
